@font-face {
	font-family: 'Lato Regular';
	src: url(.../fonts/Lato-Regular.eot) format("eot"),
		url(.../fonts/Lato-Regular.woff) format("woff"),
		url(.../fonts/Lato-Regular.ttf) format("truetype"),
		url(.../fonts/Lato-Regular.svg) format("svg");
		font-weight:normal;
		font-style:normal;
}
body{
	font-family: 'Lato Regular';
	padding: 0;
	margin: 0;
	min-width: 320px;


}
.header__wrapper{
	background-color: #f2f1f5;
	width: 100vw;
}


.container{
	margin: 0 auto;
	max-width: 1140px;
	padding-left: 30px;
	padding-right: 30px;
}


.header-page{
	display: flex;
	padding-top: 30px;
	justify-content: space-between;
	
	
}

.header-page__logo{
	width: 50px;
	height: 50px;
	display: block;
}
.header-page__logo-link:hover{
	transform: translateY(-1px);
}
.header-page__logo-link:active{
	transform: scale(0.9);
}

.header-page__menu{
	align-self: center;
	width: 335px;
}
.header-page__menu-list{
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	line-height: 19px;
}
.header-page__menu-link{
	color: #363636;
	text-decoration: none;
}
.header-page__menu-link:hover{
	border-bottom: 3px solid #eb7040;
}


.contact{
	width: 165px;
	align-self: center;
	color: #363636;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	line-height: 19px;
}
.contact--red{
	color: #eb7040;
}
.about__wrapper{
	background-color: #f2f1f5;

}
.about{
	padding-top: 90px;
	padding-bottom: 100px;
	
	/*background-image: url(img/about-bg.svg); /*Это временно надо поэкспериментировать*/
	/*background-position: 580px 80px;
	background-repeat: no-repeat;
	background-size: 554px 387px;*/

	position: relative;
	
}
.animation-stars{
	width: 554px;
	height: 387px;
	position: absolute;
	top: 80px;
	left: 550px;
}

.about__title{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #eb7040;
	font-size: 90px;
	line-height: 93px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000000;
	padding-bottom: 10px;
}


.about__desc{
	padding: 0;
	margin: 0;
	font-family: 'Lato Regular' sans-serif;
	font-size: 28px;
	font-weight: normal;
	line-height: 29px;
	padding-bottom: 35px;
}
.about__desc--red{
	color: #eb7040;
}
.about__list{
	list-style: none;
	margin: 0;
	padding: 0;

	font-size: 16px;
	line-height: 17px;
	font-family: 'Lato Regular' sans-serif;
	font-weight: normal;
	padding-left: 70px;

}
[class^="about__item--"]:not(.about__item--celebration){
	padding-bottom: 35px;
}
[class^="about__item--"]{
	position: relative;
}
.about__item--trend::before{
	content: "";
	position: absolute;
	background-image: url(img/trend.png);
	top: 0;
	left: -70px;
	width: 50px;
	height: 31px;
}
.about__item--team::before{
	content: "";
	position: absolute;
	background-image: url(img/team.png);
	top: -5px;
	left: -70px;
	width: 50px;
	height: 44px;
}
.about__item--celebration::before{
	content: "";
	position: absolute;
	background-image: url(img/celebration.png);
	top: -5px;
	left: -70px;
	width: 50px;
	height: 50px;
}






.advantages__wrapper{
	background-color: #f7f7f7;
}
.advantages{
	padding-top: 95px;
}
.advantages__title{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 25px;
	padding-left: 100px;
	position: relative;
	margin-bottom: 100px;
}
.advantages__title--red{
	color: #eb7040;
}
.advantages__title::before{
	content: "";
	position: absolute;
	width: 70px;
	height: 5px;
	background-color: #eb7040;
	top: 20px;
	left: 0px;
}
.advantages__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	
	
	list-style: none;
	margin: 0;
	padding: 0;
}
.advantages__item{

	width: 360px;

	box-sizing: border-box;
	padding: 100px 20px 40px 20px;;

	box-shadow: 0 20px 31px 4px rgba(235, 112, 64, 0.15);
	border-radius: 15px;


	text-align: center;
	font-size: 16px;
	line-height: 20px;
	-webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 2s;
}

.advantages__sublist{
	list-style: none;
	margin: 0;
	padding: 0;
		text-align: center;
}
[class^="advantages__item-title"]{
	font-family: 'Lato Regular' sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	padding-bottom: 20px;
	display: inline-block;


}

[class^="advantages__item-title"]{
	font-family: 'Lato Regular' sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 20px;
	display: inline-block;
}
[class^="advantages__item-title"]::before{
	content: "";
	position: absolute;
	
}
.advantages__item-title--second::before{
	background-image: url(img/advantages-second.png);
	width: 50px;
	height: 46px;
	background-repeat: no-repeat;
	top: -70px;
	left: 90px;
}
.advantages__item-title--two::before{
	background-image: url(img/advantages-two.png);
	width: 40px;
	height: 50px;
	background-repeat: no-repeat;
	top: -70px;
	left: 120px;
}
.advantages__item-title--three::before{
	background-image: url(img/advantages-three.png);
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	top: -70px;
	left: 115px;
}
[class^="advantages__item-title"]::after{
	content: "";
	position: absolute;

	background-color:  #eb7040;

	width: 70px;
	height: 5px;

	top: 35px;
	left: 80px;
}
.advantages__item-title--two::after{
	left: 105px;
}
.advantages__item-title--three::after{
	left: 105px;
}
.advantages__subitem{
	font-size: 16px;
	font-weight: normal;
	line-height: 17px;
	padding-top: 25px;
}
.advantages-and__wrapper{
	margin-top: 95px;
}

.advantages__title-and{
	padding: 0;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
	margin:  0 auto;
	position: relative;
}
.advantages__title-and::after{
	content: "";
	position: absolute;
	background-color:  #eb7040;
	width: 70px;
	height: 5px;
	top: 50px;
	left: ;

}
.advantages__list-and{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 100px;

	
}
[class^=advantages__item-and]{
	font-size: 16px;
	font-weight: bold;
	line-height: 17px;
	text-transform: uppercase;
	text-align: center;
	width: 165px;
	margin-top: 160px;
	position: relative;

	-webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 2s;

}
[class^=advantages__item-and]:not(:first-child){
	margin-left: 30px;
}
[class^=advantages__item-and]::after{
	content: "";
	top: -70px;
	left: 60px;
	position: absolute;
}
.advantages__item-and--one::after{
	width: 46px;
	height: 49px;
	background-image: url(img/and-one.png);
}

.advantages__item-and--two::after{
	width: 50px;
	height: 43px;
	background-image: url(img/and-two.png);
}

.advantages__item-and--three::after{
	width: 45px;
	height: 49px;
	background-image: url(img/and-three.png);
}
.advantages__item-and--four::after{
	width: 50px;
	height: 45px;
	background-image: url(img/four.png);
}
.advantages__item-and--five::after{
	width: 50px;
	height: 49px;
	background-image: url(img/five.png);
}
.advantages__item-and--six::after{
	width: 50px;
	height: 49px;
	background-image: url(img/six.png);
}

/*@media (max-width: 1080px){
	.container{
		margin: 0 auto;
		max-width: 698px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.animation-stars{
		
	}
	.about__title{
		font-size: 40px;
	 line-height: 43px;
	}
	.about__desc{
		font-size: 18px;
		font-weight: normal;
		line-height: 22px;
	}
	.animation-stars{
		width: 424px;
     height: 287px;
     top: 20%;
     left: 40%;
	}
	

}
*/
.services{
	padding-top: 55px;
	padding-bottom: 100px;
}
.services__title{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 25px;
	padding-left: 100px;

	position: relative;
	

}
.services__title--red{
	color: #eb7040;
}
.services__title::before{
	content: "";
	position: absolute;
	width: 70px;
	height: 5px;
	background-color: #eb7040;
	top: 20px;
	left: 0px;
}
.services__list{
	list-style: none;
	margin: 0;
	padding: 0;
	margin: 0 auto;
	
	width: 945px;	
}
.services__item{
	border:  1px solid #f1e1df;
	box-shadow: 0 0 5px 1px rgba(235, 112, 64, 0.3);
	width: 945px;
	background-color: #f7f7f7;
	box-sizing: border-box;
	padding-top: 112px;
	padding-left: 15px;
	padding-bottom: 112px;
	margin-top: 50px;
	margin-bottom: 85px;
}


[class^="services__sublist--"]{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 457px;

}
.services__item-title{
	margin: 0;
	padding: 0;
	padding-bottom: 20px;

	font-size: 16px;
	line-height: 20px;

	text-transform: uppercase;
}
.title-red{
	color: #eb7040;
}
.services__subitem{
	padding-left: 20px;
	position: relative;
}
.services__subitem::before{
	content: "—";
	color: #eb7040;
	left: 0px;
	position: absolute;
}
.services__item{
	position: relative;
	max-height: 400px;
}

.servises-stars{
	width: 457px;
	height: 433px;
	position: absolute;
	top: -60px;
	left: 470px;
	z-index: 5;
}

.button{
	

	padding: 0;
  border: none;
  font: inherit;
  color: inherit;
	background-color: transparent;
  cursor: pointer;

  text-transform: uppercase;
	color: #f7f7f7;
	font-weight: bold;

	border-radius: 20px;
   background-color: #f7f7f7;
   background-image: linear-gradient(to right, #eeba00 0%, #eb7040 100%);
   box-shadow: 0 0 10px 1px  #eb7040;
  
  padding-left: 105px;
  padding-right: 65px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.services__button-call{
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
}
.services__button-call::before{
	content: "";
	position: absolute;
	background-image: url(img/call.png);
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	top: 15px;
	left: 70px;
}
.services__button-call:hover::before{
	animation-name: call;
	animation-duration: 1s;
}
.services__button-call:active{
   transform: translateY(5px);
   /*transition: transform 1s ease-in-out;*/
}
@keyframes call{
	0% , 100% {
		transform: rotate(0deg);
	}
	10% , 30% , 50%, 70% , 90% {
		transform: rotate( 10deg);
	}
	20%, 40% , 60%, 80%{
		transform: rotate(-10deg);
	}
}

.page-wrapper-3{
	background-color: #f7f7f7;
}
.tariffs{
	padding-top: 97px;
	padding-bottom: 100px;
}
.tariffs__title{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 25px;
	padding-left: 100px;

	position: relative;
	margin-bottom: 100px;

}

.tariffs__title::before{
	content: "";
	position: absolute;
	width: 70px;
	height: 5px;
	background-color: #eb7040;
	top: 10px;
	left: 0px;
}
.tariffs__list{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	margin: 0 auto;
	width: 945px;
	justify-content: space-between;
}
.tariffs__item{
	width: 457px;

   box-shadow: 0 20px 31px 4px rgba(235, 112, 64, 0.15);
   border-radius: 20px;
   background-color: #f7f7f7;

   padding-left: 17px;
	padding-right: 17px;
	box-sizing: border-box;
	
}
.tariffs__item-title{
	font-size: 24px;
   font-weight: bold;
   width: 95px;
   margin: 0 auto;
   text-transform: uppercase;

   padding-top: 30px;
   padding-bottom: 30px;

}
.tariffs__item-title--plus{
	color: #eb7040;
}
.tariffs__sublist{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tariffs__subitem{
	padding-bottom: 30px;

}
.tariffs__subitem--none{
	padding-top: 5px;
}
.tariffs__button{
	padding-left: 85px;
	padding-right: 85px;
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
	background-image: linear-gradient(to right, #eeba00 , #eb7040, #eb7040, #eeba00 );
	background-size: 320% 100%;
	transition: all .4s ease-in-out;

}
.tariffs__button:hover{
	background-position:100% 0;
	transition:all .4s ease-in-out;
}


.footer-page{
	display: flex;
	
	align-items: center;
	
}
.footer__losung{
	padding: 0;
	margin: 0;
	font-family: 'Lato Regular' sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 29px;
	padding-bottom: 35px;
	text-align: center;
	align-self: center;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 370px;
	margin-right: 269px;
}
.footer__losung--red{
	color: #eb7040;
}
.footer-page__logo-link:hover{
	transform: translateY(-1px);
}
.footer-page__logo-link:active{
	transform: scale(0.9);
}
.footer-page__contact--red{
	color: #eb7040;
}
.slick-active{
	outline: none;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

